<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CodeCrewApp/css/index.css' %}">
</head>
<body>
<div align="center">
    <nav>
        <a href="{% url 'index' %}"><img src="{% static 'CodeCrewApp/images/logo.png' %}" alt=""></a>
        <a href="{% url 'aboutUs' %}">About Us</a>
        <a href="{% url 'resources' %}">Resources</a>
        <a href="{% url 'gallery' %}">Gallery</a>
        <a href="{% url 'contactUs' %}">Contact </a>
    </nav>
</div>
<div>
{% block header %}
{% endblock header %}
</div>
<div>
    {% block side %}
    {% endblock side %}
</div>
<div>
{% block content %}
{% endblock content %}
</div>
<div>
{% block footer %}
{% endblock footer %}
</div>
</body>
</html>